html {
	font-family: 'Zen Antique', serif;
	background-color: #FF10F0;
	font-size: 17px;
	text-rendering: optimizeLegibility;
}

header img {
	float: right;
	height: 120px;
	width: 120px;
}

header {
	height: 10em;
	line-height: 3.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #080F3A;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 3em;
	color: #E4E4E4;
	margin: auto;
}

h2 {
	color: #FFFF0A;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.25em;
}

h3 {
	font-size: 1.5em;
	text-align: center;
	margin-top: auto;
	color: #FFFF0A;
}

label {
	margin: auto;
	display: block;
	width: 70%;
}

select {
	margin: auto;
	display: block;
	width: 70%;
}

input {
	margin: auto;
	display: block;
	width: 70%;
}

	